<!DOCTYPE html>
<html>
<title>Back End Development and APIs Projects - ricardojrhc</title>
<link rel="apple-touch-icon" sizes="180x180" href="src/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="src/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="src/favicon-16x16.png">
<link rel="manifest" href="src/site.webmanifest">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/public/normalize.css">
<link rel="stylesheet" href="/public/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet">
<script src="/public/jquery-3.6.0.js"></script>
<body id="main">
<!-- My nav -->
<nav id="navbar">
	<div class="links">
		<a class="logo" href="#" target="_self"><img width="100%" src="https://rykardocardoso.github.io/fwc-projetc/images/RIC_LOGO_W.svg" alt="RIC"></a>
		<ul>
			<li><a class="hideMobile" href="#" target="_self"><i class="fa-solid fa-clock"></i> Timestamp MS</a></li>
			<li><a class="hideMobile" href="#" target="_self"><i class="fa-solid fa-code-pull-request"></i> Request Header Parser MS</a></li>
			<li><a class="hideMobile" href="#" target="_self"><i class="fa-solid fa-code"></i> URL Shortener MS</a></li>
			<li><a class="hideMobile" href="#" target="_self"><i class="fa-solid fa-binoculars"></i> Exercise Tracker</a></li>
			<li><a class="hideMobile" href="#" target="_self"><i class="fa-solid fa-file"></i> File Metadata MS</a></li>
			<li><a class="mobileMenuButton" href="#" title="Toggle Navigation Menu"><i class="fa-solid fa-bars"></i></a></li>
		</ul>
	</div>
    
    <!-- Navbar on small screens -->
	<div id="navMobile">
    	<a href="#" class="item" target="_self"><i class="fa-solid fa-clock"></i> Timestamp MS</a>
    	<a href="#" class="item" target="_self"><i class="fa-solid fa-code-pull-request"></i> Request Header Parser MS</a>
    	<a href="#" class="item" target="_self"><i class="fa-solid fa-code"></i> URL Shortener MS</a>
    	<a href="#" class="item" target="_self"><i class="fa-solid fa-binoculars"></i> Exercise Tracker</a>
		<a href="#" class="item" target="_self"><i class="fa-solid fa-file"></i> File Metadata MS</a>
	</div>
</nav>

<!-- First Parallax Image with Logo Text -->
<section class="featureSection" id="welcome-section">
	<div class="mySlides" style="background-image: url('https://rykardocardoso.github.io/fwc-projetc/images/RIC_LOGO_bg.png');">
		<figcaption>
			<div class="title">
				<h3><i>Back End Development and APIs Projects</i></h3>
				<p>by Ricardojrhc</p>
			</div>
        <div class="visHolder-container">
          <div class="header">
            <h1 id="title">Timestamp Microservice</h1>
            <div class="usage-container">
                <h3>Example Usage:</h3>
                <ul>
                  <li><a href="api/2015-12-25">[project url]/api/2015-12-25</a></li>
                  <li><a href="api/1451001600000">[project url]/api/1451001600000</a></li>
                </ul>
          
                <h3>Example Output:</h3>
                <p>
                  <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
                </p>
            </div>
          </div>
	    </div>
		<span class="clearfix"></span>
		</figcaption>
	</div>
</section>

<footer>
	<a class="toTop"><i style="margin-right: 15px;" class="fa fa-arrow-up"></i>To the top</a>
	<div class="social">
        <a href="https://www.linkedin.com/in/ricardojrhc/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
		<a href="https://www.facebook.com/RykardoMusic/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
	</div>
</footer>
 
<script>
$(function(){
	
// Used to toggle the menu on small screens when clicking on the menu button
$('.mobileMenuButton').click(function(event){
	event.preventDefault();
	toggleMenuMobile();
});

$('#navMobile a').click(function(){
	toggleMenuMobile();
});

function toggleMenuMobile() {
    var x = document.getElementById("navMobile");
    if (x.className.indexOf("active") == -1) {
        x.className += "active";
    } else {
        x.className = x.className.replace("active", "");
    }
}
	
//Smooth Scroll Up function
$('.toTop').click(function(event) {
	event.preventDefault();
	$('html, body').animate({scrollTop: 0}, 500, "swing");
		return false;
});


});
</script>
</body>
</html>